.Game {
  display: flex;
}

.Card {
  width: 120px;
  height: 165px;
}

.Card > img {
  width: 120px;
  height: 165px;
  transition: 1s;
}

.Card > img.expended {
  transform: translate(15px) rotate(-90deg);
}

.Cards > .content {
  display: flex;
  height: 165px;
}

.Deck > .content {
  height: 165px;
}

.Deck > .content > .empty {
  width: 120px;
  height: 100%;
  background-color: #dadada;
  border-radius: 5px;
}

.Deck > .content > img {
  height: 165px;
}

.Focused > .Card {
  width: unset;
  height: unset;
}

.Focused > .Card > img {
  width: unset;
  height: unset;
}

.Player > .Decks {
  display: flex;
}

.DeckAndMarket {
  display: flex;
}
