.Game {
  display: flex;
}

.Card {
  width: 120px;
  height: 165px;
  position: relative;
}

.Card > .primary-ability {
  float: left;
  position: absolute;
  left: 0px;
  top: 115px;
  bottom: 33px;
  width: 90px;
  z-index: 1000;
  margin-left: 14px;
}

.Card > .ally-ability {
  float: left;
  position: absolute;
  left: 0px;
  top: 133px;
  bottom: 12px;
  width: 90px;
  z-index: 1000;
  margin-left: 14px;
}

.Card > .sacrifice-ability {
  float: left;
  position: absolute;
  left: 0px;
  top: 133px;
  bottom: 12px;
  width: 90px;
  z-index: 1000;
  margin-left: 14px;
}

.Card > .primary-ability.full,
.Card > .ally-ability.full,
.Card > .sacrifice-ally.full
{
  top: 115px;
  bottom: 12px;
}

.Card > img {
  width: 120px;
  height: 165px;
  transition: 1s;
}

.Card > img.expended {
  transform: translate(15px) rotate(-90deg);
}

.Cards > .content {
  display: flex;
  height: 165px;
}

.Deck > .content {
  height: 165px;
}

.Deck > .content > .empty {
  width: 120px;
  height: 100%;
  background-color: #dadada;
  border-radius: 5px;
}

.Deck > .content > img {
  height: 165px;
}

.Focused > .Card {
  width: unset;
  height: unset;
}

.Focused > .Card > img {
  width: unset;
  height: unset;
}

.Player > .Decks {
  display: flex;
}

.DeckAndMarket {
  display: flex;
}
